@using WebUI.Models.ViewModels.GroupModel
@model GroupViewModel
@{ 
    var hasStudents = Model.Students.Any();
}

<div class="card card-body bg-dark my-auto text-light" style="width: 60%">
    <h3>@Model.Group.Name</h3>
    @if (hasStudents)
    {
        <h3>Students:</h3>
        @foreach (var student in Model.Students)
        {
           <h4>@($"{student.FirstName} {student.LastName}")</h4>
        }
    }
    

    <form asp-action="Update" asp-controller="Group" asp-route-id="@Model.Group.Id" method="get">
        <button type="submit" class="btn btn-success">
            Update group
        </button>
    </form>

    <form asp-action="Delete" asp-controller="Group" asp-route-id="@Model.Group.Id" method="get">
        <button type="submit" class="btn btn-danger">
            Delete group
        </button>
    </form>

</div>