<div class="navbar-collapse collapse">
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item my-auto">
                <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="List">View students</a>
            </li>
            <li class="nav-item my-auto">
                <a class="nav-link text-dark" asp-area="" asp-controller="Lecturers" asp-action="List">View lecturers</a>
            </li>
            <li class="nav-item my-auto">
                <a class="nav-link text-dark" asp-area="" asp-controller="Subjects" asp-action="List">View subjects</a>
            </li>
            <li class="nav-item my-auto">
                <a class="nav-link text-dark" asp-area="" asp-controller="Groups" asp-action="List">View groups</a>
            </li>
            <li class="nav-item my-auto">
                <a class="nav-link text-dark" asp-area="" asp-controller="Classes" asp-action="List">View classes</a>
            </li>
            <li class="nav-item my-auto">
                <a class="nav-link text-dark" asp-area="" asp-controller="MissedClasses" asp-action="List">View missed classes</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="SignOut">Sign Out</a>
        </ul>
    </div>
</div>
