@using WebUI.Models
@model ErrorViewModel
@{
    ViewBag.Title = "Error";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <hgroup>
        <h1>Error</h1>
        <h2>@Model.ErrorMessage</h2>

    </hgroup>
    <a class="btn btn-primary" href="@Model.ReturnUrl">Go back </a>
</body>
</html>
